<div class="container mt-3">
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link <%= active === 'who' ? 'active' : '' %>" href="/">Who Are We?</a>
    </li>
    <li class="nav-item">
      <a class="nav-link <%= active === 'pets' ? 'active' : '' %>" href="/api/pets">Meet Our Pets!</a>
    </li>
    <li class="nav-item">
      <a class="nav-link <%= active === 'requests' ? 'active' : '' %>" href="/requests">Requests</a>
    </li>
    <li class="nav-item">
      <a class="nav-link <%= active === 'experiences' ? 'active' : '' %>" href="/api/experiences">Adoption Experiences</a>
    </li>
    <li class="nav-item">
      <a class="nav-link <%= active === 'rescue' ? 'active' : '' %>" href="/rescue-form">Report a Rescue</a>
    </li>
    <li class="nav-item">
      <a class="nav-link <%= active === 'faqs' ? 'active' : '' %>" href="/faqs"
        >FAQs</a
      >
    </li>
  </ul>
</div>
