<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head')%>
    <link href="/stylesheets/forms.css" rel="stylesheet" />
</head>

<body class="form">
  <%- include('./partials/header', {active: 'requests' })%>
    <h1><span class="white-word">Experience</span> <span class="green-word">Form</span></h1>
    <hr>
    </hr>
    <div class="container mt-3">
      <form class="p-5" action="/api/experiences" enctype="multipart/form-data" method="post">
        <div class="row p-2">
          <div class="col-md-6">
            <label for="petImage">Provide us a picture of the adopted animal:</label><br><br>
            <input type="file" id="animal-picture" name="image" accept="image/*" required>
          </div>
          <div class="col-md-6">
            <label for="experience">Please share your adoption experience and your kind feedback on the
              volunteering services that the shelter provides:</label>
            <textarea class="form-control" rows="3" id="adoption-experience" name="experience" minlength="5"
              maxlength="500" required></textarea>
          </div>
        </div>

        <div class="row p-2">
          <div class="col-md-6">
            <label for="pet">Please provide us with your pet's name</label>
            <select id="pet-name" name="pet" class="form-select" required>
              <% pets.forEach((pet)=> { %>
                <option value="<%=pet.pet%>,<%=pet.petName%>">
                  <%=pet.petName%>
                </option>
                <% }) %>
            </select>
          </div>
          <div class="col-md-6">
            <label for="isAnon">Do you prefer your experience post to be anonymous?</label>
            <select id="anonymous-post" name="isAnon" class="form-select" required>
              <option value="yes">Yes</option>
              <option value="no">No</option>
            </select>
          </div>
        </div>
        <div class="row p-2">
          <div class="col-md-6">
            <label for="sharePost">Do you wish to share this experience post on our website?</label>
            <select id="share-post" name="sharePost" class="form-select" required>
              <option value="yes">Yes</option>
              <option value="no">No</option>
            </select>
          </div>
          <div class="col-md-6 d-flex justify-content-end">
            <button class="button" type="submit">Submit</button>
          </div>
        </div>



      </form>
    </div>
</body>

</html>