<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head')%>
    <style>
      body {
        background-image: url("/images/backgrounds/background-4.png");
        background-repeat: no-repeat;
        background-size: cover;
      }
      .card {
        width: 300px;
        height: 400px;
        background-color: #f2f2f2;
        border: 1px solid #ddd;
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
        margin: 10px;
      }

      .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
      }

      .card img {
        width: 100%;
        height: 70%;
        object-fit: cover;
      }

      .card-text {
        padding: 10px;
      }
    </style>
    <% const arrPrint = (arr) => { let output = ""; arr.forEach(function
    (element) { output += `${element}, `; }); return output.slice(0, -2); }; %>
  </head>
  <body>
    <%- include('./partials/header', {active: 'pets'}) %>
    <h1>Meet Our Family</h1>
    <div class="grid">
      <% pets.forEach(pet => { %>
      <div class="card">
        <img src="<%=pet.image%>" alt="Card 1" />
        <div class="card-text">
          <ul>
            <li>Pet ID: <%=pet.petID%></li>
            <li>Name: <%=pet.name%></li>
            <li>Type: <%=pet.type%></li>
            <li>Breed: <%=pet.breed%></li>
            <li>Age: <%=pet.age%></li>
            <li>Personality: <%=arrPrint(pet.personality)%></li>
          </ul>
        </div>
        <a href="/api/adopt/<%=pet.petID%>"
          ><button class="btn btn-primary">Adopt</button>
        </a>
      </div>
      <% }); %>
    </div>
  </body>
</html>
