<script>
    const disableOrEnable = () => {
        if (curUsername != document.getElementById('username').value || curEmail != document.getElementById('email').value)
            document.getElementById("update-acc").disabled = false;
        else
            document.getElementById("update-acc").disabled = true;
    }

    const deleteAcc = () => {
        deleteRequest(`/api/user/<%=user._id%>`, () => {
            window.location.href = "/";
        })
    }

    const getHours = () => {
        getRequest(`/api/volunteer/hours/<%=user._id%>`, (response) => {
            var hourDiv = document.getElementById("hours");
            hourDiv.innerHTML = `completed hours of volunteering: ${response.hours} hours`
        });
    }

    var curUsername;
    var curEmail;
    const getUserInfo = () => {
        getRequest(`/api/user/<%=user._id%>`, (response) => {
            curUsername = response.username;;
            curEmail = response.email;
            document.getElementById('username').value = response.username;
            document.getElementById('userID').value = response.userID;
            document.getElementById('email').value = response.email;
        })
    }

    const getReqSt = (type) => {
        getRequest(`/api/${type}/status/<%=user._id%>`, (response) => {
            var div = document.getElementById(type);
            response.forEach(req => {
                div.innerHTML += `<p>requestID: ${req.requestID}, status: ${req.status}</p>`
            })
        })
    }



    const update = () => {
        const body = {
            username: document.getElementById('username').value,
            email: document.getElementById('email').value
        }
        putRequest(`/api/user/<%=user._id%>`, body, (response) => {
            curUsername = response.username;
            curEmail = response.email;
            document.getElementById("update-acc").disabled = true;
            console.log("response updated!", response);
        })
    }

    getUserInfo();
    if ("<%=user.type%>" != "admin") {
        getHours();
        getReqSt('adopt');
        getReqSt('rescue');
        getReqSt('handover');
        getReqSt('volunteer');
    }

</script>